{% extends 'base.html.twig' %}

{% block title %}TypeTransaction index{% endblock %}

{% block body %}
    <h1>TypeTransaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_transaction in type_transactions %}
            <tr>
                <td>{{ type_transaction.id }}</td>
                <td>{{ type_transaction.title }}</td>
                <td>
                    <a href="{{ path('type_transaction_show', {'id': type_transaction.id}) }}">show</a>
                    <a href="{{ path('type_transaction_edit', {'id': type_transaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_transaction_new') }}">Create new</a>
{% endblock %}
