{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="form-floating mb-3 col-sm-6">
                                        <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                        <label for="inputEmail" required>Email address</label>
                                    </div>
                                  <div class="form-floating mb-3 col-sm-6">
                                         <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                        <label for="inputEmail" required>Email address</label>
                                </div>
                                <div class="form-floating mb-3 col-sm-6">
                                    <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                     <label for="inputEmail" required>Email address</label>
                                </div>
                                <div class="form-floating mb-3 col-sm-6">
                                    <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
                                    <label for="inputPassword" required>Password</label>
                                </div>
                                <div class="form-floating mb-3 col-sm-6">
                                    <input type="email" class="form-control " id="InputEmail"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-floating mb-3 col-sm-6">
                                        <input type="password" class="form-control " id="InputPassword" placeholder="Password">
                                        <label for="inputPassword" required>Password</label>
                                </div>
                                    <div class=" form-floating col-sm-6 mb-3">
                                        <input type="password" class="form-control" id="RepeatPassword" placeholder="Repeat Password">
                                        <label for="inputPassword" required>Password</label>
                                    </div>
                                    <div class=" form-floating col-sm-6 mb-3">
                                        <input type="password" class="form-control" id="RepeatPassword" placeholder="Repeat Password">
                                        <label for="inputPassword" required>Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Register</button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <div class="text-center">
                                <a class="small" href="login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{# 
    <h1>Register</h1>
    {% form_theme form 'foundation_5_layout.html.twig' %}

                {{ form_start(registrationForm) }}
                {{ form-control(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
{ #}
{% endblock %}
