{% extends 'base.html.twig' %}

{% block title %}Hello newCompanyController!
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">Création d'une nouvelle société</h3>
						</div>
						<div class="card-body">
							<div class="form-floating ">
								<div class="row">
									<div class="col-sm-6 ">
										{{ form_start(form) }}
										<div class="my-custom-class-for-errors">
											{{ form_errors(form) }}
										</div>
										<div class="mb-2">
											{{form_row(form.name)}}
										</div>
										<div class="mb-2">
											{{form_row(form.adresse)}}
										</div>
										<div class="mb-2">
											{{form_row(form.code_postal)}}
										</div>
										<div class="mb-2">
											{{form_row(form.logo)}}
										</div>
										<div class="mb-2">
											{{form_row(form.siteweb)}}
										</div>
										<div class="mb-2">
											{{form_row(form.telephone)}}
										</div>
										<div class="mb-2">
											{{form_row(form.isActive)}}
										</div>
									</div>
									<div class="col-sm-6 ">
										<div class="mb-2">
											{{form_row(form.rcs)}}
										</div>
										<div class="mb-2">
											{{form_row(form.siret)}}
										</div>
										<div class="mb-2">
											{{form_row(form.formLegal)}}
										</div>
										<divclass= class="mb-2">
											{{form_row(form.valeurNominal)}}
										</divclass="mb-2">
										<div>
											{{form_row(form.codeValeur)}}
										</div>
										<div class="mb-2">
											{{form_row(form.description)}}
										</div>
									</div>
									<div>
										{{form_row(form.motDuPresident)}}
									</div>
								</div>
								<button class="btn btn-primary">
									Ajouter
								</button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

