{% extends 'base.html.twig' %}

{% block title %}Registre{% endblock %}

{% block body %}
    <h1>Registre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registre.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ registre.quantity }}</td>
            </tr>
            <tr>
                <th>Prix_unitaire</th>
                <td>{{ registre.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ registre.createdAt ? registre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('registre_index') }}">back to list</a>

    <a href="{{ path('registre_edit', {'id': registre.id}) }}">edit</a>

    {{ include('registre/_delete_form.html.twig') }}
{% endblock %}
