<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="icon" href={{ asset( 'logociib.png' )}}>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

{#        {% block stylesheets %}#}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{#        {% endblock %}#}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
{#    {% dump(app.user) %}#}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">LovePme</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if app.user.email is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
                    </li>
                            {% if is_granted('ROLE_ADMIN')  %}
                            <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}">admin</a>
                    </li>
                                {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Back-Office
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path("admin_civil") }}">civil</a></li>
                            <li><a class="dropdown-item" href="{{ path('type_new') }}">Type</a></li>
                            <li><a class="dropdown-item" href="{{ path('forme_legale_new') }}">FormeLegale</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('company_new') }}">Societe</a></li>
                            <li><a class="dropdown-item" href="{{ path('company_index') }}">listSociete</a></li>
                            <li><a class="dropdown-item" href="{{ path('action_index') }}">Actions</a></li>
                            <li><a class="dropdown-item" href="{{ path('registre_index') }}">Registres</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="{%  if app.user.email  is defined %}{{ app.user.email }}{% endif %}" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">rechercher</button>
                </form>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    {% block body %}


    {% endblock %}
    </body>
</html>
